<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
    <ion-title><small>Unlock the heaven door - yet again .. </small></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="background-color: lightblue;">
  <ion-card>
    <ion-card-content>
      <div class="input-group">
        <ion-item>
          <ion-input type="email" placeholder="Email: Admin"></ion-input>
        </ion-item>
      </div>
      <ion-button type="submit" expand="block" (click)='resetPassword()'>Reset Password</ion-button>
      <ion-button type="button" expand="block" color="primary" fill="clear" (click)="login()">Already a member? Login!
      </ion-button>
      <ion-button type="button" expand="block" color="tertiary" fill="clear" (click)="signup()">Not yet a member? Sign up
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>